/*reactable-th-id */

.reactable-column-header th {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.reactable-header-sortable {
    cursor: pointer;
}

.reactable-header-sort-asc:after {
    content: ' ↑';
}

.reactable-header-sort-desc:after {
    content: ' ↓';
}

.jobs--table tr {
    /*width:100%;*/
}
.jobs--table tr:hover {
    /*width:100%;*/
    background:#eee;
}



.jobs--table th,
.jobs--table td {
    text-align: right !important;
    word-wrap: break-word;
}

.jobs--table {
    /*overflow-y: auto;*/
}
