.progressbar {
    height: 10px;
    border: 1px solid #ccc;

}

.progressbar-inner {
    background-color: #4a90e2;
    height: 8px;
    transition: width .3s linear, background-color 1.5s linear;
}
